<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Creating the automation test suit">
  <test thread-count="5" name="App Test">
        <parameter name="url1" value="https://www.google.com/"></parameter>
        <parameter name="url2" value="https://www.youtube.com/"></parameter>
        <parameter name="browser" value="firefox"></parameter>
  
    <classes>
      <class name="com.seleniumInterviewQuestions.com.seleniumInterviewQuestions.AllTestNGAnnotation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
